<div class="row">
  <div class="col-12 col-md-6 mb-4">
    <app-search-food-item (addToCart)="addToCart($event)">
    </app-search-food-item>
  </div>

  <div class="col-12 col-md-6">
    <h5>Here is list of all order foods and its price</h5>
    <h6 class="d-inline mr-2">Price: {{ priceOfOrder$ | async }} RSD</h6>
    <app-burgers-as-price [priceOfOrder$]="priceOfOrder$">
    </app-burgers-as-price>
    <ul class="list-group food-list-cart">
      <li
        class="list-group-item cart-item"
        *ngFor="let orderIdWithItemInCart of orderIdWithItemsInCart"
      >
        <app-food-item-in-cart
          [orderId]="orderIdWithItemInCart[0]"
          [foodItem]="orderIdWithItemInCart[1]"
          (remove)="removeFromCart($event)"
        ></app-food-item-in-cart>
      </li>
    </ul>
  </div>
</div>
