<div class="row">
  <div class="col-12 col-md-6 mb-4">
    <app-search-food-item
      [allFastFoodRestaurants$]="allFastFoodRestaurants$"
      (fastFoodRestaurantEmitter)="searchedFastFoodRestaurantName($event)"
      (foodItemToSearchEmitter)="searchedFoodItemName($event)"
    >
    </app-search-food-item>

    <ul class="list-group mt-4">
      <li class="list-group-item" *ngFor="let foodItem of foodItemsToDisplay">
        <app-food-item
          [foodItem]="foodItem"
          (addToCart)="addToCart(foodItem)"
        ></app-food-item>
      </li>
    </ul>
  </div>

  <div class="col-12 col-md-6">
    <h5>Here is list of all order foods and its price</h5>
    <h6 class="d-inline mr-2">Price: {{ priceOfOrder$ | async }} RSD</h6>
    <app-burgers-as-price> </app-burgers-as-price>
    <ul class="list-group food-list-cart">
      <li
        class="list-group-item cart-item"
        *ngFor="let foodItemInCart of foodItemsInCart$ | async"
      >
        <app-food-item-in-cart
          [foodItemInCart]="foodItemInCart"
          (removeFoodItemInCart)="removeFromCart($event)"
        ></app-food-item-in-cart>
      </li>
    </ul>
  </div>
</div>
