.btn-remove {
  margin-right: 5px;
}

.to-right {
  display: flex;
  justify-content: end;
  align-items: center;
}

.info {
  font-size: 18px;
  color: rgb(41, 125, 235);
}

@media (max-width: 752px) {
  .to-right {
    justify-content: start;
    align-items: center;
  }
}
