<p>Start typing what food would you like and a list will appear</p>
<input
  #searchBox
  id="searchBox"
  (input)="search(searchBox.value)"
  placeholder="What food would you like"
  class="mb-2 mr-3"
/>

<p>Or select from which fast food restauran would you like to eat</p>
<select
  #selectFastFood
  [(ngModel)]="selectedFastFood"
  (change)="onChangeShowAllFoodItemsFromSelectedFastFoodRestaurants()"
>
  <option *ngFor="let producer of fastFoodRestaurants" value="{{ producer }}">{{
    producer
  }}</option>
</select>

<ul class="list-group mt-4">
  <li class="list-group-item" *ngFor="let foodItem of foodItemsToDisplay">
    <app-food-item
      [foodItemToDisplay]="foodItem"
      (addToCart)="addToCartBtnClick(foodItem)"
    ></app-food-item>
  </li>
</ul>
